:root {
  --color-primary-light: #e65140;
  --color-primary: #ba3020;
  --color-primary-dark: #6a1b11;
  --color-primary-100: #e7a9a2;
  --color-primary-300: #e87568;

  --color-secondary-light: #3bf2ce;
  --color-secondary: #0ccaa4;
  --color-secondary-dark: #1da476;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-100: #f7f7f7;
  --color-gray-300: #b7a4a1;
  --color-gray-500: #6c4e4b;
  --color-gray-700: #3a1511;
  --color-gray-900: #190b00;

  --color-danger: #bb2124;
  --color-success: #00720e;
  --color-warning: #8f770f;
  --color-info: #005169;

  --color-black-rgb: 0, 0, 0;

  --font-heading: 'Crimson Pro', serif;
  --font-body: 'Dosis', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-gray-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link,
a:visited {
  text-decoration: none;
}

/* Headings */

.heading-0 {
  font-size: 72px;
  line-height: 86px;
  font-family: var(--font-heading);
  font-weight: 400;
}

.heading-1 {
  font-size: 44px;
  line-height: 52px;
  font-family: var(--font-heading);
  font-weight: 400;
}

.heading-2 {
  font-size: 36px;
  line-height: 43px;
  font-family: var(--font-heading);
  font-weight: 400;
}

.heading-3 {
  font-size: 24px;
  line-height: 29px;
  font-family: var(--font-heading);
  font-weight: 400;
}

.heading-4 {
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-heading);
  font-weight: 400;
}

/* Italic Headings */
.i-heading-0 {
  font-size: 72px;
  line-height: 86px;
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 400;
}

.i-heading-1 {
  font-size: 44px;
  line-height: 52px;
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 400;
}

.i-heading-2 {
  font-size: 36px;
  line-height: 43px;
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 400;
}

.i-heading-3 {
  font-size: 24px;
  line-height: 29px;
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 400;
}

.i-heading-4 {
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 400;
}

/* Body Copy */
.paragraph {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 22px;
}
